#!/bin/sh
# ~/.aliases

# Dot files git track
alias dot='/usr/bin/git --git-dir=$HOME/.dots/ --work-tree=$HOME'

# Colorful commands
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias diff='diff --color=auto'

# Change to specific directories
alias dw='cd Downloads'
alias ws='cd Website'
alias wp='cd Wallpapers'
alias ms='cd MEGAsync'
