#!/bin/sh
# ~/.aliases

# Dot files git track
alias dot='/usr/bin/git --git-dir=$HOME/.dots/ --work-tree=$HOME'

# Colorful commands
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias diff='diff --color=auto'
alias sdcv='sdcv --color'

# Verbose
alias t='trash -v'
alias mv='mv -v'
alias cp='cp -v'
alias rm='rm -v'

# Change to specific directories
alias dw='cd $HOME/downloads'
alias ws='cd $HOME/website'
alias wp='cd $HOME/wallpapers'
alias ms='cd $HOME/MEGAsync'
alias ds='cd $HOME/lmchj-hdd'
alias cf='cd $HOME/.config'
alias dc='cd $HOME/documents'
alias bk='cd ..'

# Toxic
alias tx='toxic -f .config/tox/lm.tox'

# Music
alias mp='mpd && ncmpcpp'
alias mp3dpl='youtube-dl -x --yes-playlist --audio-format mp3'
